asgiref==3.9.2
certifi==2025.8.3
charset-normalizer==3.4.3
Django==5.2.6
django-debug-toolbar==6.0.0
django-rosetta==0.10.2
idna==3.10
polib==1.2.0
pymemcache==4.0.0
requests==2.32.5
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
python-dotenv==1.0.0
psycopg==3.2.10
psycopg-binary==3.2.10
gunicorn==21.2.0
